<mat-horizontal-stepper [linear]="isLinear" #stepper >
    <mat-step [stepControl]="firstFormGroup" >
        <form [formGroup]="firstFormGroup" (ngSubmit)="submitAccount(firstFormGroup)">
            <ng-template matStepLabel >פרטים אישיים</ng-template>
            <div class="form-field">
                <i class="fa fa-user" id="icon"></i>
                <mat-form-field>
                    <mat-label>שם פרטי</mat-label>
                    <input matInput placeholder=" " formControlName="firstName" required>
                </mat-form-field>
            </div>
            <div class="form-field">
                <i class="fa fa-user" id="icon"></i>
                <mat-form-field>
                    <mat-label>משפחה</mat-label>
                    <input matInput placeholder="" formControlName="lastName" required>
                </mat-form-field>
            </div>
            <div class="form-field">
                <i class="material-icons" id="icon">email</i>
                <mat-form-field>
                    <mat-label>דואר אלקטרוני </mat-label>
                    <input matInput formControlName="email" placeholder="Email" type="email" required>
                    <mat-error *ngIf="firstFormGroup.get('email').hasError('required')">
                        שדה זה שדה חובה </mat-error>
                    <mat-error *ngIf="firstFormGroup.get('email').hasError('email')">
                        המיל לא תקין
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="form-field">
                <i class="fa fa-id-card" id="icon"></i>
                <mat-form-field>
                    <mat-label>ת.ז</mat-label>
                    <input matInput placeholder="" formControlName="tz" required>
                </mat-form-field>
            </div>
            <div class="form-field">
                <i class='fas fa-city' id="icon"></i>
                <mat-form-field>
                    <mat-label>עיר</mat-label>
                    <input matInput placeholder="" formControlName="city" required>
                </mat-form-field>
            </div>
            <div class="form-field">
                <i class='fas fa-map-marker-alt' id="icon"></i>
                <mat-form-field>
                    <mat-label>רחוב</mat-label>
                    <input matInput placeholder="" formControlName="street" required>
                </mat-form-field>
            </div>
            <div class="form-field">
                <i class='fas fa-home' id="icon"></i>
                <mat-form-field>
                    <mat-label>מספר בית</mat-label>
                    <input matInput placeholder="" formControlName="numhouse" required type="number">
                </mat-form-field>
            </div>
            <div class="form-field">
                <i class='fas fa-phone' id="icon"></i>

                <mat-form-field>
                    <mat-label>פלאפון</mat-label>
                    <input matInput placeholder="" formControlName="phone" pattern="[0-9]*" minlength="10"
                        maxlength="10" required>
                </mat-form-field>
            </div>
            <div class="form-field">
                
                <div class="form-field">
                    <i class='fas fa-unlock-alt' id="icon"></i>
                    <mat-form-field>
                        <mat-label>סיסמא </mat-label>
                        <input matInput formControlName="password" type="password" required>
                        <mat-hint class="ac-form-field-description">בין 6 ל24 תווים</mat-hint>
                        <mat-error *ngIf="firstFormGroup.get('password').hasError('required')">
                            שדה זה שדה חובה </mat-error>
                        <mat-error *ngIf="firstFormGroup.get('password').hasError('minlength')">
                            הסיסמא חיבת להיות לפחות עם 6 תווים </mat-error>
                        <mat-error *ngIf="firstFormGroup.get('password').hasError('maxlength')">
                            הסיסמא יותר מ24 תווים </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <i class='fas fa-unlock-alt' id="icon"></i>
                    <mat-form-field>
                        <mat-label> אימות סיסמא </mat-label>
                        <input matInput formControlName="passwordAgain" placeholder="" type="password"
                            [errorStateMatcher]="passwordsMatcher" required>
                        <mat-error *ngIf="form.hasError('passwordsNotEqual')">Passwords are different. They should be
                            equal!</mat-error>
                    </mat-form-field>
                </div>
                <app-file></app-file>
            </div>
            <div>
                <button mat-button matStepperNext (click)="addTeacher()" required>הבא</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="תמחור ושעות" (click)="addTeacher()">


        <!-- </form> -->

        <p class="day" id="sunday">ראשון</p>
        <p class="day" id="monday">שני</p>
        <p class="day">שלישי</p>
        <p class="day">רביעי</p>
        <p class="day">חמישי</p>
        <div id="space"></div>
        <label class="container" id="Thursday">
            <input checked=checked type="checkbox" name="d509" [(ngModel)]="isChecked509"
                (change)="checkValue(isChecked509?509:5090)" />
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked409" (change)="checkValue(isChecked409?409:4090)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked309" (change)="checkValue(isChecked309?309:3090)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked209" (change)="checkValue(isChecked209?209:2090)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked109" (change)="checkValue(isChecked109?109:1090)">
            <span class="checkmark"></span>09:00-10:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked510" (change)="checkValue(isChecked6?510:5100)" />
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked410" (change)="checkValue(isChecked410?410:4100)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked310" (change)="checkValue(isChecked310?310:3100)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked210" (change)="checkValue(isChecked210?210:2100)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked110" (change)="checkValue(isChecked110?110:1100)">
            <span class="checkmark"></span>10:00-11:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked511" (change)="checkValue(isChecked511?511:5110)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked411" (change)="checkValue(isChecked411?411:4110)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked311" (change)="checkValue(isChecked311?311:3110)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked211" (change)="checkValue(isChecked211?211:2110)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked111" (change)="checkValue(isChecked111?111:1110)">
            <span class="checkmark"></span>11:00-12:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked512" (change)="checkValue(isChecked512?512:5120)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked412" (change)="checkValue(isChecked17?412:4120)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked312" (change)="checkValue(isChecked312?312:3120)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked212" (change)="checkValue(isChecked212?212:2120)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked112" (change)="checkValue(isChecked112?112:1120)">
            <span class="checkmark"></span>12:00-13:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked513" (change)="checkValue(isChecked513?513:5130)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked413" (change)="checkValue(isChecked413?413:4130)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked313" (change)="checkValue(isChecked313?313:3130)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked213" (change)="checkValue(isChecked213?213:2130)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked113" (change)="checkValue(isChecked113?113:1130)">
            <span class="checkmark"></span>13:00-14:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked514" (change)="checkValue(isChecked514?514:5140)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked414" (change)="checkValue(isChecked414?414:4140)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked314" (change)="checkValue(isChecked314?314:3140)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked214" (change)="checkValue(isChecked214?214:2140)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked114" (change)="checkValue(isChecked114?114:1140)">
            <span class="checkmark"></span>14:00-15:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked515" (change)="checkValue(isChecked515?515:5150)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked415" (change)="checkValue(isChecked415?415:4150)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked315" (change)="checkValue(isChecked315?315:3150)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked215" (change)="checkValue(isChecked215?215:2150)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked115" (change)="checkValue(isChecked115?115:1150)">
            <span class="checkmark"></span>15:00-16:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked516" (change)="checkValue(isChecked516?516:5160)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked416" (change)="checkValue(isChecked416?416:4160)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked316" (change)="checkValue(isChecked316?316:3160)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked216" (change)="checkValue(isChecked216?216:2160)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked116" (change)="checkValue(isChecked116?116:1160)">
            <span class="checkmark"></span>16:00-17:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked517" (change)="checkValue(isChecked517?517:5170)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked417" (change)="checkValue(isChecked417?417:4170)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked317" (change)="checkValue(isChecked317?317:3170)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked217" (change)="checkValue(isChecked217?217:2170)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked117" (change)="checkValue(isChecked117?117:1170)">
            <span class="checkmark"></span>17:00-18:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked518" (change)="checkValue(isChecked518?518:5180)" />
            <!-- <input type="checkbox" (click)="addHour()" [(ngModel)]="day" name="day" > -->
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked418" (change)="checkValue(isChecked418?418:4180)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked318" (change)="checkValue(isChecked318?318:3180)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked218" (change)="checkValue(isChecked218?218:2180)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked118" (change)="checkValue(isChecked118?118:1180)">
            <span class="checkmark"></span>18:00-19:00
        </label>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked519" (change)="checkValue(isChecked519?519:5190)" />
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked419" (change)="checkValue(isChecked419?419:4190)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked319" (change)="checkValue(isChecked319?319:3190)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked219" (change)="checkValue(isChecked219?219:2190)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked119" (change)="checkValue(isChecked119?119:1190)">
            <span class="checkmark"></span>19:00-20:00
        </label>
        <div></div>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked520" (change)="checkValue(isChecked520?520:5200)" />
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked420" (change)="checkValue(isChecked420?420:4200)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked320" (change)="checkValue(isChecked320?320:3200)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked220" (change)="checkValue(isChecked220?220:2200)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked120" (change)="checkValue(isChecked120?120:1200)">
            <span class="checkmark"></span>20:00-21:00
        </label>
        <div></div>
        <div></div>
        <label class="container" id="Thursday">
            <input type="checkbox" [(ngModel)]="isChecked521" (change)="checkValue(isChecked521?521:5210)" />
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked421" (change)="checkValue(isChecked421?421:4210)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked321" (change)="checkValue(isChecked321?321:3210)">
            <span class="checkmark"></span>
        </label>

        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked221" (change)="checkValue(isChecked221?221:2210)">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked121" (change)="checkValue(isChecked62?121:1210)">
            <span class="checkmark"></span>21:00-22:00
        </label>
        <div>
            <button mat-button matStepperPrevious>חזרה</button>
            <button mat-button matStepperNext>הבא</button>
        </div>
        <form [formGroup]="secondFormGroup" (ngSubmit)="submitAccount(secondFormGroup)">
            <!-- <app-determining-lessons class="tab"></app-determining-lessons> -->
            <!-- <form id="form"> -->
            <div class="form-field">
                <mat-form-field>
                    <mat-label> מקצוע</mat-label>
                    <input matInput placeholder="" formControlName="subject" required>
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field appearance="fill">
                    <mat-label>סכום לשיעור</mat-label>
                    <input matInput type="number" class="example-right-align" formControlName="money" type="number"
                        id="money">
                    <span matPrefix>ש"ח&nbsp;</span>
                    <span matSuffix>.00</span>
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>בחר שכבה</mat-label>
                <select matNativeControl required formControlName="grade" class="form-control">
                    <option value=1>א - ד יסודי</option>
                    <option value=2>ה- ו יסודי</option>
                    <option value=3>ז- ח יסודי</option>
                    <option value=4>תיכון</option>
                    <option value=5>השתלמות</option>
                </select>
            </mat-form-field>

            <!-- <button mat-raised-button color="primary" name="ok" type="search" id="ok" value="אישור"
                    (click)="addSubjectToTeacher()">אישור</button> -->

        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>