.nav{
    background-color: #06050b;
    margin-top:1%;
    color: white
}
.mat-tab-links{
font-family: Georgia, 'Times New Roman', Times, serif;
color:white !important;
}
.link{
    // #06050b
    opacity:100% !important;
    color:white !important;
    font-weight:800;
    font-size:120%;
    margin-left:3%;
    padding: 3%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

// .mat-tab-label.mat-tab-label-active {
//     // min-width: 25px !important;
//     // padding: 5px;
//     // background-color: white;
//     // color: red;
//     // font-weight: 700;
// }


img{
    width:15%;
    height:92%;
    margin-left: 80%;
   position: absolute;
}
// .navbar-brand{
//     background-color: black
// }
// #id{
//     background-color: aqua
// }
// .navbar-nav{
// color: black !important;
// }