

body {
    direction: rtl;
  margin: 2rem;
}
#teacher{
 width: 40%;
 height: 40%;
  border: solid;
  border-color: darkblue;
  margin:4%;
  position: relative;
  float: left;
}
#teacher:hover{
  background-color:lightgrey;
}
#name{
  direction: rtl;
  margin-left: 70%;
}
.detail{
  direction: rtl;
  margin-left: 80%;
 
}
img{
  width: 10%;
  height: 10%;
}