
<!-- <div id="id" #wrapper>
    <input type="text" placeholder="מקצוע" [(ngModel)]="subject">
    <input type="text" placeholder="עיר" [(ngModel)]="city">
    <input type="text" placeholder="רחוב" [(ngModel)]="street">
    <input type="button" value="חפש" (click)="getTeachers()">
    <div *ngFor="let teacher of teacherList" id="teacher">
        <h1 id="name">המורה {{teacher.firstName}} {{ teacher.lastName}}</h1>
        <div *ngIf="check(teacher.Qualifications)==true">
            <button mat-fab color="red" aria-label="Example icon button with a bookmark icon" (click)="open()">
                <i class='fas fa-graduation-cap' style='font-size:190%' ></i>
            </button>
            <div *ngIf="checkIsOpen()==true">
                <div id="wrapdiv"> <mat-icon id="close" (click)="close()"> close</mat-icon>
                    <img  src="assets/{{teacher.Qualifications}}">
                </div>
            </div>
        </div>
        <p class="detail">{{teacher.SubjectName}}</p>
        <p class="detail">מחיר: {{teacher.PriceForLesson}} ש"ח</p>
        <p class="detail">פלאפון: {{teacher.phone}}</p>
        <img src="assets/{{teacher.Qualifications}}">
        <button mat-stroked-button color="primary" (click)="addLesson(teacher)"><i class="fa fa-calendar"></i>
            לקביעת שיעור אונלין</button>

    </div>
    <div *ngIf="TeacherService.IsChossen()==true">
        <app-add-lesson></app-add-lesson>
    </div>
</div> -->

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width">
    <mat-label>מקצוע</mat-label>
    <input matInput   aria-describedby="search-text" [(ngModel)]="searchText">
  </mat-form-field></td>
  <td><mat-form-field class="example-full-width">
    <mat-label>מחיר</mat-label>
    <input matInput   aria-describedby="search-text"[(ngModel)]="searchPrice">
  </mat-form-field></td>
  </table>
<div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <!-- <label for="search-text">Search Text</label> -->
        <!-- <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
          placeholder="Enter subject" autofocus> -->
  
        <!-- <label for="search-text">phone</label> -->
        <!-- <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchPhone"
          placeholder="Enter phone" autofocus> -->
  
          <!-- <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchFirstName"
          placeholder="Enter firstName" autofocus>
  
          <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchLastName"
          placeholder="Enter lastName" autofocus>
   -->
          <!-- <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchPrice"
          placeholder="Enter price" autofocus>
   -->
      </div>
      <ul class="list-group list-group-flush">
  
        <li class="list-group-item" *ngFor="let teacher of teacherList | appFilter: searchText:searchPhone:searchFirstName:searchLastName:searchPrice">
          <h1>{{teacher.firstName}} {{ teacher.lastName}}</h1>
          <p>{{teacher.SubjectName}}</p>
          <p>מחיר: {{teacher.PriceForLesson}} ש"ח</p>
          <p>פלאפון: {{teacher.phone}}</p>
          <!-- <div *ngIf="check(teacher.Qualifications)==true">
            <button mat-fab color="red" aria-label="Example icon button with a bookmark icon" (click)="open()">
                <i class='fas fa-graduation-cap' style='font-size:190%' ></i>
            </button>
            <div *ngIf="checkIsOpen()==true">
                <div id="wrapdiv"> <mat-icon id="close" (click)="close()"> close</mat-icon>
                    <img  src="assets/{{teacher.Qualifications}}">
                </div>
            </div>
        </div> -->
          <button mat-stroked-button color="primary" (click)="addLesson(teacher)"><i class="fa fa-calendar"></i>
            לקביעת שיעור אונלין</button>
            <div *ngIf="TeacherService.IsChossen()==true">
              <app-add-lesson></app-add-lesson>
          </div>
          <!-- <div *ngIf="check(teacher)==true">
            <img src="assets/{{teacher.Qualifications}}">
          </div>
          <input type="button" value="לקביעת שיעור" (click)="addLesson()">
    </div> -->
  
    </li>
    </ul>
  </div>
  </div>
  