

<div class="login">
  
    <div class="formDiv"> 
    <p>
      <mat-form-field appearance="legacy" id="username">
        <mat-label class="matLabel">הכנס שם</mat-label>
        <input matInput placeholder="" [(ngModel)]="name">
      </mat-form-field>
    </p>
  
    <div class="example-container" id="password">
      <mat-form-field appearance="fill" id="fill">
        <mat-label class="matLabel">הכנס סיסמא</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" id="password" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon class="matIcon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a [routerLink]="" class="forgot" (click)="forgot()">שכחת סיסמא?</a>
      <div *ngIf="checkNewUser()==true">
        <p id="no">{{massage}}</p>
      </div>
      
      <input id="login" type="submit" value="הכנס" (click)="login()" >
      
    
      <a routerLink="/newteacher" class="new">הרשם כמורה</a>
      <a routerLink="/newStudent" class="new">הרשם כתלמידה</a>
    </div>
    
    </div>
    <div style="background-color: black ;height:18vh; margin-top:15%">
      <img src="assets/logoOnly.png" style="width: 10vw;height: 15vh;margin-top: 2%; margin-left:35%;">
    </div>
    <div class="shadow"></div>
  