
h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
 .awal{
     color: red;
     background-color: aqua
 }
 .swal-title{
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
  color: red;
 }
 .swal-text {
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21) !important;
  margin-bottom: 28px;
  color: blue !important;
}
#recomandation{
  height: 200px;
  border-color: red;
}