.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  // .example-full-width {
  //   width: 100%;
  // }
  
  td {
    padding-right: 8px;
  }
  .mat-form-field-wrapper{
    margin-left: 30% !important;
    width: 50% !important;
}
#select{
    margin-left:5%;
    width: 80%;
}
#levelIcon{
    // margin-left:-2%;
    font-size:xx-large;

}
select{
    background-color: white !important;
    border: none !important;
    width: 100% !important;
}
#level2{
    margin-top: -2%;
    margin-left:2%;
    width: 78%;
}
#level{
    margin-top: -2%;
    margin-left:2%;
    width: 70%;
}
#save{
  position: absolute;
  margin-top:28%;
  padding: 1%;
  width:40vw !important;
  margin-bottom: 5%;
  margin-left: -11%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#save2{
  position: absolute;
  margin-top:28%;
  padding: 1%;
  width:40vw !important;
  margin-bottom: 5%;
  margin-left: -11%;

}
.mat-form-field-flex{
    background-color: white !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white !important;
}
#icon{
    margin-left:4%;
    margin-right:2%;
    font-size:xx-large;
    margin-top: 1%;
  }
  .mat-form-field {
    margin-top: 16px;
  
  }
  .right{
    width: 20vw;
    height: 40vh;
    float: left;
    margin-left: 4%
}
.left{
  width: 20vw;
  height: 40vh;
  float: left;
  margin-left: 4%;
}
.submit1{
  width: 20vw;
  height: 10vh;
}
  .CONTAINER{
    // align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:26%;  
    margin-top: 4%;

  }