<div class="view intro jarallax"
     style="background-image: url(assets/small.jpg); background-attachment: fixed; height: 900px;">
     <!-- https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg -->
  <div class="full-bg-img mask rgba-white-light">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 900px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.001s">mini <a
                class="indigo-text font-bold">class</a>
              </h2>
              <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.2s">The teacher just for you
                </h5>
              <!-- <a mdbBtn color="light-blue" size="lg" class="wow fadeIn waves-light" mdbWavesEffect
                 data-wow-delay="0.4s">portfolio</a>
              <a mdbBtn color="indigo" size="lg" class="wow fadeIn waves-light" mdbWavesEffect
                 data-wow-delay="0.4s">About
                me</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center mb-5">
      <h2 class="h1 font-bold light-blue-text my-5">איתכם בכל מצב mini class</h2>
      <p align="justify" style="text-align:right ; font-size: larger" >קמה מתוך הבנה כי חסר בשוק האינטרנטי אתר לשיעורים פרטיים נח לשימוש ומהיר Mini class  
        <br>
         מקיים תקשורת בין מורה לתלמידו בצורה הנוחה והאידיאלית ביותר  .כמו כן העיצוב המושקע נעשה במטרה לגרום לתלמיד לאהוב את הלימוד Mini class
          .האתר המושלם לתיווך יעל ומהיר בין מורה לתלמיד Mini class   
        
       
        </p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- purple-circle -->
<div class="view intro jarallax" style="background-image:url(assets/small_background.jpg);background-attachment: fixed; z-index: 0; min-height: 100px;">
  <div class="full-bg-img mask rgba-white-light">
    <div class="container flex-center">
      <div class="row mt-5 py-5">
        <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
          <div class="text-center">
            <h2 class="h1 display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">MINI <a
              class="white-text font-bold">CLASS</a>
            </h2>
            <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Dini &
              Racheli
              </h5>
            <!-- <a mdbBtn color="elegant" size="lg" class="wow fadeInDown waves-effect waves-light" mdbWavesEffect
               data-wow-delay="0.4s">portfolio</a>
            <a mdbBtn color="white" outline="true" size="lg" class="wow fadeInDown waves-effect waves-light"
               mdbWavesEffect data-wow-delay="0.4s">About me</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <!-- <h2 class="h1 font-bold grey-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2> -->
      <!-- <p align="justify">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
        provident
        rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
        cumque
        provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
        veritatis
        cupiditate reprehenderit.</p> -->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="view intro jarallax"
     style="background-image: url(assets/smallbook.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>

<div class="view intro jarallax"
     style="background-image: url(assets/smallpurple.jpg); background-attachment: fixed; min-height: 700px">
     <!-- https://mdbootstrap.com/img/Photos/Others/background.jpg -->
  <div class="full-bg-img mask rgba-purple-slight">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="h1 display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s" style="color: white"> mini class ברוכים הבאים ל
               </h2>
              <h4 class="mb-3 mt-1 white-text font-bold wow fadeIn" data-wow-delay="0.4s" style="color: white">במיוחד בשבילך
                </h4>
              <a routerLink='/home'  mdbBtn color="pink" class="wow fadeIn waves-light" mdbWavesEffect data-wow-delay="0.4s">
                לעמוד הבית</a>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5" >
      <!-- <h2 class="h1 font-bold pink-text mb-5">Lorem ipsum dolor sit amet, consectetur quis elit.</h2> -->
      <p align="justify" style="text-align:right ;font-size: larger" >באתר מושקעים משאבים אדירים בפיתוח הטכנולוגיה,
        .וההתפתחות נמשכת כל הזמן ללא לאות
         אנו מקווים שתהיו מרוצים ותהנו מכל רגע, גם מהשרות וגם מהנוחות שהאתר מציע
        </p>
    </div>
    <!--Grid column-->
    
  </div>
  <!--Grid row-->
</div>
