.nav{
    background-color: #06050b;
    margin-top:1%;
    color: white
}
.mat-tab-links{
font-family: Georgia, 'Times New Roman', Times, serif;
color:white !important;
}
.link{
    // #06050b
    opacity:100% !important;
    color:white !important;
    font-weight:800;
    font-size:120%;
    // margin-left:3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#div{
    background-color:#dd1d8e;
    width: 100%;
    height: 4vh;
    // border: solid 1px 
}
img{
    width:15%;
    height:92%;
    margin-left: 80%;
   position: absolute;
}
