<div class="container">
    <form action="action_page.php">

        <label for="chooseDay">בחר יום:</label>
        <select id="day" name="day " >
          <option value="ראשון">ראשון</option>
          <option value="שני">שני</option>
          <option value="שלישי">שלישי</option>
          <option value="רביעי">רביעי</option>
          <option value="חמישי">חמישי</option>
        </select>
      <label for="lname">בחר שעה</label>
      <input type="time" id="time" name="time" placeholder="0000">
  
     
  
      
  
    </form>
  </div>