// input[type=text], select, textarea{
//     width: 100%;
//     padding: 12px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
//     resize: vertical;
//     opacity: 4.0;
//   }
//   .day{
//     visibility: hidden;
//   }
//   /* Style the label to display next to the inputs */
//   label {
//     padding: 12px 12px 12px 0;
//     display: inline-block;
//     font-weight: 700;
//     opacity: 4.0;
//     color: white;
//   }
  
//   /* Style the submit button */
//   input[type=submit] {
//     background-color: #4CAF50;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     float: right;
//     opacity: 4.0;
//     // z-index: 2
//   }
  #wrapdiv{
    // margin-top: 5%;
    background-color:white;
    // position:absolute;
    position:fixed;
    overflow: hidden scroll; 
    // height:100%;
    // widows: 100%;
    top:-17%;
    right:0px;
    bottom:0px;
    left:0px;
    // position: fixed;
    // overflow-y: hidden;
  
    // height: 100%; 
    // overflow: hidden;
    // position: fixed;
    // top: 30px;
    // left: 10px;
  // --scroll-y:10px;
    height: 120vh;
    // overflow-y: hidden;
  // padding-right: 15px;
   z-index:10 !important;
  }
  // .swal-text {
  //   // background-color: #FEFAE3;
  //   padding: 17px;
  //   border: 1px solid #F0E1A1;
  //   display: block;
  //   margin: 22px;
  //   text-align: center;
  //   font-size: xx-large;
  //   color:blue;
  // }
  #close{
    // position: absolute;
    margin-left:50%;
    margin-top: 10%;
    font-size: 280%;
  }

  #icon{
    font-size: 200%;
    border:none !important;
  }
  #arrow{
    position: absolute;
    margin-left:10% !important;
    margin-top: 5% !important;
  }
  #board{
    margin-top: 7% !important;
    width: 50%;
    margin-left: 25%;
    // height: 50vh;

  }
  #title{
    margin-top: 5%;
    margin-bottom: -27%;
  }