.footer{
    background-color: #dd1d8e;
    // position:absolute;
    width: 100vw;
    height: 5vh;
    text-align: center;
    color: white;
    font-size: 70%;
    padding:1.5%;
    //   align-items: center;
   
    //  position: absolute;
    // color: white
}
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
// .c{
//     margin-top: 3%;
// // padding-top: 2%;
// margin-left: 25%;
// margin-right: 20%;
// }


.pinkDiv{
    width: 100vw;
    height: 1.5vh;
    background-color:black;
    
    position: absolute;
}
